:root{
  --skibka-zyto: #3A3128;
  --skibka-skorka: #8F5530;
  --skibka-lan: #4F5B33;
  --skibka-lan-jasny: #6B7A4A;
  --skibka-kraft: #C9AD83;
  --skibka-maka-biala: #FAF7F0;
  --skibka-maka: #F2EDE2;
  --skibka-otreby: #E4D7BC;
  --skibka-mioz: #A08B6D;
  --skibka-popiol: #6A5D4D;
}
