:root{
  --nosna-atrament: #0E0E12;
  --nosna-piatek: #FF3D1F;
  --nosna-sobota: #00B3A4;
  --nosna-niedziela: #FF2D95;
  --nosna-piatek-tekst: #B02A0B;
  --nosna-sobota-tekst: #00695F;
  --nosna-niedziela-tekst: #A8005C;
  --nosna-papier: #F6F4EF;
  --nosna-kosc: #E9E6DE;
  --nosna-mgla: #CFCBC0;
  --nosna-dym: #8F8B82;
  --nosna-grafit: #4B4B50;
}
