:root{
  --wolnobieg-brazowy: #5B2F14;
  --wolnobieg-pomarancz: #EC7424;
  --wolnobieg-musztarda: #E9A81D;
  --wolnobieg-awokado: #7C8A2B;
  --wolnobieg-oliwka: #556020;
  --wolnobieg-rdza: #A64A0D;
  --wolnobieg-krem-jasny: #FBF3DF;
  --wolnobieg-krem: #F6E8C8;
  --wolnobieg-piasek: #EAD7AE;
  --wolnobieg-len: #CDB27F;
  --wolnobieg-tyton: #9A7447;
  --wolnobieg-kawa: #6B4528;
  --wolnobieg-kakao: #3F2411;
}
