:root{
  --klamra-atrament: #111111;
  --klamra-cytryna: #FFE14A;
  --klamra-roz: #FF5FA8;
  --klamra-mieta: #3DDC97;
  --klamra-niebo: #5CC8FF;
  --klamra-biel: #FFFFFF;
  --klamra-mgla: #F2F2F2;
  --klamra-beton: #D9D9D9;
  --klamra-kamien: #8F8F8F;
  --klamra-grafit: #4A4A4A;
}
