:root{
  --cuvee-czern: #15110E;
  --cuvee-kosc: #F3ECDD;
  --cuvee-mosiadz: #B08D57;
  --cuvee-mosiadz-ciemny: #7A5A2A;
  --cuvee-szampan: #D7BE8D;
  --cuvee-papier: #FAF6EC;
  --cuvee-len: #E5DCC8;
  --cuvee-kamien: #C9BFA8;
  --cuvee-mgla: #8C8472;
  --cuvee-wegiel: #4A443A;
}
